@import "bootstrap-sprockets";
@import "bootstrap";


/* search box */
#search {
    float: right;
    margin-top: 9px;
    width: 380px;
}

.search {
    padding: 5px 0;
    margin-top: 4px;
    margin-left: 160px;
    width: 410px;
    
    position: relative;
    left: 10px;
    float: left;
    line-height: 22px;
}

    .search input {
        position: absolute;
        width: 350px;        
        float: Left;        
        -webkit-transition: all 0.7s ease-in-out;
        -moz-transition: all 0.7s ease-in-out;
        -o-transition: all 0.7s ease-in-out;
        transition: all 0.7s ease-in-out;
        height: 35px;
        line-height: 18px;
        padding: 0 2px 0 2px;
        border-radius:1px;
    }

    

.btn-search {
    height: 35px;
    position: absolute;
    right: 0;
    top: 5px;
    border-radius:1px;
    padding: 0px 18px;
}



/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

