.form-search {
margin-left: 30px;
}
.searchbutton {

    color: #DBDBDB;
    display: inline-block;
    border: none;
line-height: 22px;
box-sizing: content-box;

vertical-align: middle;
display: inline-block;
margin-bottom: 0px;
font-size: 16px;
outline: medium none;
}

.searchfield {

    color: black;
    border: none;
    height: 26px;
    line-height: 22px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 5px 6px 4px 6px;
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 0;    
    width: 250px;
    font-size: 16px;
    border-radius: 15px 15px 15px 15px;
}


.searchbutton{
width: 13px;
height: 16px;
margin-left: -32px;
border-top-left-radius: 0px;
border-bottom-left-radius: 0px;
}



