<footer class="footer container-fluid">
  <div class="container">
    <div id="copyright" class="row">
      <br>
      <br>
        <h4>Copyright © 2014, TravelAsk </h4>
    </div>
  </div>
</footer>